<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Recomendaciones de Spotify para Ti</h1>
      <% if @songs.size %>
        <p>No hemos encontrado nada para ti :(</p>
        <p>Dale like a un artista e intenta nuevamente</p>
      <% end %>
      <br>
      <br>
    </div>
    <% @songs.each do |song| %>
      <div class="col-sm-12 col-md-4">
          <iframe src="https://embed.spotify.com/?uri=spotify:track:<%= song %>" frameborder="0" allowtransparency="true"></iframe>
      </div>
    <% end %>
  </div>
</div>
