<% flash.each do |type, msg| %>
  <div class='alert fade in alert-<%= alert_class type %>'>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= msg %>
  </div>
<% end %>